* {
  font-family: sans-serif;
  line-height: 1.6em;
}

body {
  margin: 0 auto;
  width: 960px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.title {
  color: #ffc800;
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 1px solid black;
}

.page-wrapper {
  display: flex;
  gap: 15px;
}

.freshorigins {
  width: 80%;
}

.menu {
  display: flex;
  flex-direction: column;
}

.ageratum,
.abeliophyllum {
  width: 60%;
  height: 500px;
}

.description {
  margin-top: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.animeFlower {
  justify-content: right;
}