* {
  font-family: sans-serif;
  line-height: 1.6em;
}

body {
  margin: 0 auto;
  width: 960px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.title {
  color: #ffc800;
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 1px solid black;
}

.content-wrapper {
  display: flex;
  gap: 15px;
}

.freshorigins {
  width: 80%;
}

.menu {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  border: 1px solid black;
  border-spacing: 10px;
}

.guestBook>div {
  margin-left: 5px;
  margin-bottom: 10px;
}

.waterJar {
  justify-content: right;
}

.field {
  display: flex;
  gap: 10px;
}

.abeliophyllum,
.ageratum {
  height: 450px;
}